<h2>TaskPlus - Controle de Tarefas</h2>
<hr />
<a href="/" class="button">Logout</a>
<br>
<br>

<div id="myDIV" class="header">
  <h2>Alteração do item - {{lista.descricao}}</h2>
  <form action="/listas/lista/{{lista.id}}" method="POST">
    <input type="text" value="{{lista.descricao}}" name="descricao" id="descricao">
    <button type="submit" class="addBtn">Modify Item</button>
  </form>
</div>

<p>
  <a href="/listas/{{lista.usuarioId}}" class="button">Voltar para listas</a>
</p>