<div class="container">
  <a class="links" id="paracadastro"></a>
  <a class="links" id="paralogin"></a>
  <div class="content">
    <div id="cadastro">
      <form action="/registrar" method="POST">
        <h1>TaskPlus - Cadastro</h1>
        <p>
          <label for="email_login">Seu e-mail</label>
          <input id="email_login" name="login" required="required" type="text" placeholder="contato@htmlecsspro.com" />
        </p>

        <p>
          <label for="senha_login">Sua senha</label>
          <input id="senha_login" name="senha" required="required" type="password" placeholder="1234" />
        </p>

        <p>
          <label for="confirmar_senha">Confirmar Senha</label>
          <input id="confirmar_senha" name="confirmarsenha" required="required" type="password" placeholder="1234" />
        </p>

        <p>
          <input type="submit" value="Cadastrar" />
        </p>
        <p class="link">
          Possui conta?
          <a href="/"> Ir para Login </a>
        </p>
      </form>
    </div>
  </div>
</div>