<div>
  <h2>TaskPlus - Registrar Usuário</h2>
  <hr />

  <form action="/registrar" method="POST">
    <label>Usuário.................: </label>
    <input type="text" name="login" id="login" />
    <br />

    <label>Senha...................: </label>
    <input type="text" name="senha" id="senha" />
    <br />

    <label>Confirmar Senha..: </label>
    <input type="text" name="confirmarsenha" id="confirmarsenha" />
    <br />

    <br />
    <input type="submit" value="Registar" />
  </form>
</div>
<p>
  <a href="/">Voltar</a>
</p>